<header>
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	    <img src="/static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
	    {{request.session.player.name}}
	  </a>
	  <button class="btn btn-outline-warning my-2 my-sm-0" type="button" onclick="window.location.href='/exit/'">Exit</button>
	</nav>
</header>
