{% extends "base.html" %}

{% block content %}
	<div class="container-fluid">
		<div class="d-flex justify-content-center mb-5 mt-5">
			<div class="p-2 align-self-center">
				<h1>Login</h1>
				<form action="" method="POST" class="d-flex flex-column pd-5 align-self-center {% if form.errors %}form_erros{% endif %}">
					{% csrf_token %}
					<div class="form-group align-self-center">
						{{form.name.label_tag}}
						{{form.name}}
							{% for error in form.name.errors %}
	                        <p class="errors">{{error}}</p>
	                    {% endfor %}
					</div>
					<button type="submit" class="btn btn-primary">Enter</button>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}