{% extends "base.html" %}

{% block js %}
	{{block.super}}
	<script src="/static/js/bundle.js"></script>
	<script>
		var options = {
		    'container': '#app',
		    'player': {{request.session.player|safe}}
		}
		new GameApp(options);

	</script>
{% endblock js %}

{% block content %}
	{% include "modules/header.html" %}
	<div class="container-fluid" id="app">
		<div class="row p-2">
			<div class="col-9" id="playground">
				<section id="roomHeader">
					<h3>Select or add Room
					  <small class="text-muted"></small>
					</h3>
				</section>
			</div>
			<div class="col-3">
				<div class="list-group mb-3" id="listGroup"></div>
				<button type="button" class="btn btn-primary btn-block" id="addRoom">Add room</button>
			</div>
		</div>
	</div>
	<div class="modal" tabindex="-1" role="dialog" id="createRoom">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" novalidate>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Name</label>
			    <input type="text" required class="form-control" id="name" name="name">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Matches limit</label>
			    <input type="number" min="1" required class="form-control" id="matches" name="matches">
			  </div>

			</form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}